<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Controle Web - Cadastro de Categoria</title>
</head>

<body>
    <div class="container-outside">
        <header>
            <div class="container-header">
                <div class="container-header-logout">
                    <span>Bem vindo, <strong>Usuário</strong></span>
                    <a href="login.html" class="link-text link">Sair</a>
                </div>
            </div>
        </header>
        <div class="container-inside">
            <div class="container-inside-sidebar">
                <nav class="container-inside-sidebar-nav">
                    <div class="container-inside-sidebar-nav-container">
                        <svg class="inside-pages-icon">
                            <use xlink:href="images/sprite.svg#icon-box"></use>
                        </svg>                        
                        <a href="products" class="link"><span class="container-inside-sidebar-nav-list-parent">Produtos</span></a>
                    </div>
                    <ul class="container-inside-sidebar-nav-list">
                        <div class="container-inside-sidebar-nav-container">
                            <svg class="inside-pages-icon">
                                <use xlink:href="images/sprite.svg#icon-box-filled"></use>
                            </svg>
                            <a href="categories" class="link"><span class="container-inside-sidebar-nav-list-parent">Categorias</span></a>                      
                        </div>                        
                        <a href="categories" class="link"><li class="container-inside-sidebar-nav-list-item">Listagem de Categorias</li></a>
                        <a href="showCategoryForm" class="link"><li class="container-inside-sidebar-nav-list-item" style="background-color: #244661;">Cadastro de Categorias</li></a>
                    </ul>

                    <div class="container-inside-sidebar-nav-container">
                        <svg class="inside-pages-icon truck">
                            <use xlink:href="images/sprite.svg#icon-truck"></use>
                        </svg>
                        <a href="providers" class="link"><span class="container-inside-sidebar-nav-list-parent">Fornecedor</span></a>                  
                    </div>

                    <div class="container-inside-sidebar-nav-container">
                        <svg class="inside-pages-icon">
                            <use xlink:href="images/sprite.svg#icon-streetsign"></use>
                        </svg>
                        <a href="storagePlaces" class="link"><span class="container-inside-sidebar-nav-list-parent">Local de Armazenamento</span></a>                  
                    </div>

                    <div class="container-inside-sidebar-nav-container">
                        <svg class="inside-pages-icon">
                            <use xlink:href="images/sprite.svg#icon-document-list"></use>
                        </svg>
                        <a href="#" class="link"><span class="container-inside-sidebar-nav-list-parent">Relatorios</span></a>                  
                    </div>

                    <div class="container-inside-sidebar-nav-container">
                        <svg class="inside-pages-icon">
                            <use xlink:href="images/sprite.svg#icon-trending_up"></use>
                        </svg>
                        <a href="dashboard" class="link"><span class="container-inside-sidebar-nav-list-parent">Dashboard</span></a>                        
                    </div>
                </nav>
            </div>


            <div class="container-inside-register">
                <h2 class="container-inside-register-title">Cadastro de Categorias</h2>

                <form action="#" th:action="@{/addCategory}" th:object="${category}" method="GET" class="container-inside-register-form">

					<input type="hidden" th:field="*{id}">
					
                    <div class="container-inside-register-form-input">
                        <label for="name">Nome: </label>
                        <input type="text" th:field="*{name}">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-big"></span>
                        <span th:if="${registrationError != null}" class="error-big">Não foi possível realizar o cadastro, já existe uma categoria com esse nome</span>
                    </div>
					<input type="hidden" name="userId" th:value="${session.user.getId()}">
                    <div class="container-inside-register-form-submit">
                    	<input type="submit" value="Gravar" class="btn-inside">                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>