<!DOCTYPE html>
<html lang="pt-br" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Controla Web - Home</title>
</head>
<body>
    <div class="container-outside-dashboard">
        <header>
            <div class="container-header">
                <nav class="container-header-nav">
                    <ul class="container-header-list">
                        <a href="#"><li class="container-header-list-item">DASHBOARD</li></a>
                        <a href="products"><li class="container-header-list-item">PRODUTOS</li></a>
                        <a href="categories"><li class="container-header-list-item">CATEGORIAS</li></a>
                        <a href="providers"><li class="container-header-list-item">FORNECEDOR</li></a>
                        <a href="storagePlaces"><li class="container-header-list-item">ARMAZENAMENTO</li></a>               
                        <a href="#"><li class="container-header-list-item">RELATORIOS</li></a>
                        <a href="#"><li class="container-header-list-item">ESTOQUE</li></a>
                    </ul>             
                </nav>

                <div class="container-header-logout">
                    <span>Bem vindo, <strong th:text="${session.user.getFirstName()}"></strong></span>
                    <form th:action="@{/logout}" method="post">
    					<input type="submit" value="Sair" class="logout link">
					</form>
                </div>
            </div>
        </header>

        <main>          
            <div class="stock-container">
                <div class="stock-container-choice">
                    <a href="#">Visualizar produtos em estoque</a>
                </div>

                <div class="stock-container-choice">
                    <a href="#">Alocar produtos no estoque</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>